
<!--Name: bansri shah
    course: CST8333 Programming Language Research Project.
    Assignment 3
    student-number: 040920837--><html>
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script type="text/javascript" src="//cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
   <script type="text/javascript" src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>

</head>


</header>

<!-- navigation bar-->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand">

   Application
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="home">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="show.html">view data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="add.html">Add new  data</a>
        </li>
<li class="nav-item">
          <a class="nav-link" href="update.html">update data</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="delete.html">delete data</a>
        </li>
<li class="nav-item">
          <a class="nav-link" href="data.html">result_inheritance</a>
        </li>
          </li>

      </ul>

    </div>
  </nav>


</header>
  <body bgcolor="brown">
  {% block content %}
  {% endblock %}
  </body>

  </html>
